version: '3.8'

services:
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: vpn-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # Mount Let's Encrypt certs
      - /etc/letsencrypt/live/vpn.nishantmaheshwari.online:/etc/nginx/certs-letsencrypt:ro
      # ACME challenge
      - ./nginx/html:/var/www/html
      # Static Frontend Files
      - ./frontend:/usr/share/nginx/html:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - TZ=Asia/Kolkata
    restart: unless-stopped
    networks:
      - vpn-fe-net

networks:
  vpn-fe-net:
    driver: bridge
